@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --color-gold-50: #fff8e6;
  --color-gold-100: #fdefcb;
  --color-gold-200: #f9e19e;
  --color-gold-300: #f2cf6b;
  --color-gold-400: #e6b94c;
  --color-gold-500: #cea23b;
  --color-gold-600: #b48b32;
  --color-gold-700: #8f6e27;
  --color-gold-800: #6f561e;
  --color-gold-900: #554118;
  --color-gold-950: #3a2c10;
}
